# Default values for spark-hs-chart.
#
replicaCount: 1

image:
  repository: quay.io/tcarland/spark
  tag: v4.1.0-elara-2512.20
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: 'spark'

podSecurityContext:
  runAsUser: 185
  runAsGroup: 1000
  fsGroup: 1000
  runAsNonRoot: true

s3:
  enabled: true
  region: ''
  endpoint: ''
  existingSecret: my-s3-credentials
  accessKeyKey: accessKey
  secretKeyKey: secretKey
  logDirectory: 's3a://spark/spark-logs'
  disableCertChecking: false

ssl:
  enabled: false
  keystoreSecretName: ''
  keystorePassword: ''
  truststoreSecretName: ''
  truststorePassword: 'changeit'

service:
  externalPort: 18080
  internalPort: 18080
  type: ClusterIP

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: databrin-ca-issuer
  path: /
  host: spark-history-server.databrin.com
  tls:
    - secretName: spark-history-server.databrin.com
      hosts:
        - spark-history-server.databrin.com

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

autoscaling:
  enabled: false

